body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

img {
  display: block;
}

:root {
  --primary-text-color: #070707;
  --secondary-text-color: #828282;
  --white-color: #ffffff;
  --section-bg-color: #f6f6f6;
}

.container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

.test {
  outline: 1px solid black;
}

/* ============== HEADER SECTION ===================== */

.main-nav {
  border-bottom: 1px solid var(--secondary-text-color);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.nav-list {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.nav-item:not(:last-child) {
  margin-right: 155px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  text-decoration: none;
}

.nav-link.active-page {
  color: var(--primary-text-color);
}

.nav-link:hover {
  color: var(--primary-text-color);
}

/* =========== HERO SECTION ================ */

.hero {
  padding-top: 40px;
  padding-bottom: 104px;
}

.hero > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

/* .container > .hero-content {
  display: flex;
  align-items: end;
  justify-content: flex-start;
} */

.hero-title {
  font-size: 47px;
  line-height: 1.25;
}

.hero-text {
  margin-right: auto;
  margin-left: auto;
}

.hero-img {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ================= ABOUT SECTION========================= */

.about {
  padding-top: 120px;
  padding-bottom: 107px;
  background-color: var(--section-bg-color);
}

.about > .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
  font-size: 34px;
  line-height: 1.23;
}

.about-content {
  width: 485px;
  text-align: center;
}

.about-info:first-child {
  margin-bottom: 50px;
}

.about-info:nth-child(2) {
  margin-bottom: 55px;
}

/* ================= SKILLS SECTION========================= */

.skills {
  padding-top: 91px;
  padding-bottom: 104px;
}

.skills > .container {
  display: block;
  text-align: center;
}

.skills-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-title {
  margin-bottom: 69px;
  font-size: 34px;
  line-height: 1.23;
}

.skills-info {
  margin-bottom: 84px;
}

.skills-list {
  display: flex;
  gap: 90px;
  justify-content: center;
}

.skills-item {
  flex-basis: calc((100% - 270) / 4);
}

.skills-item img {
  margin-left: auto;
  margin-right: auto;
}

.skills-name {
  margin-top: 24px;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.21px;
  color: var(--secondary-text-color);
}

/* ====================== PORTFOLIO SECTION ======================== */

.portfolio {
  padding-top: 112px;
  padding-bottom: 166px;
  background-color: var(--section-bg-color);
}

.portfolio > .container {
  flex-wrap: wrap;
}

.portfolio-list {
  text-align: center;
}

.portfolio-item:not(:first-child) {
  margin-top: 95px;
}

.portfolio-img {
  margin-bottom: 47px;
}

.portfolio-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  font-size: 34px;
  line-height: 1.23;
}

.portfolio-link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  color: var(--primary-text-color);
}

/* ======================== FOOTER ================================ */

.contacts-title {
  font-size: 34px;
  line-height: 1.23;
}

.btn {
  font-size: 18px;
  line-height: 1.22;
  columns: var(--white-color);
  cursor: pointer;
}

.contacts-sub {
  font-size: 14px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}
